---
import type { Education } from '@/entities/Education'
import type PageSections from '@/interfaces/PageSections'
import { BookOpenIcon, MinusIcon } from 'astro-feather'
import EducationCardImage from './EducationCardImage.astro'

interface Props extends PageSections {
    education: Education
}

const { education } = Astro.props as Props
const startDate = education.getStartDateYear()
const endDate = education.getEndDateYear()
const isSameYear = startDate === endDate
---

<article
    class='card card-side education-card'
    aria-labelledby={`education-${education.id}-heading`}
>
    <div class='card-body hidden max-w-24 min-w-24 items-center pr-1 md:block'>
        <EducationCardImage logoUrl={education.logoUrl} institution={education.institution} />
    </div>
    <div class='card-body'>
        <div class='flex items-center gap-3.5'>
            <EducationCardImage
                classList='md:hidden'
                logoUrl={education.logoUrl}
                institution={education.institution}
            />
            <h3 class='card-title'>{education.institution}</h3>
        </div>
        <h5 class='flex items-center gap-1'>
            <span>{education.degree}</span>
            <span><MinusIcon /></span>
            <span>{education.fieldOfStudy}</span>
        </h5>
        <p class='text-info/50!'>
            {isSameYear ? startDate : `${startDate} - ${endDate}`}
        </p>
        <p set:html={education.description} />
    </div>
</article>
