---
import type { Education } from '@/entities/Education'
import type PageSections from '@/interfaces/PageSections'
import { MinusIcon } from 'astro-feather'

interface Props extends PageSections {
    education: Education
}

const { education } = Astro.props as Props
---

<article
    class='card card-side education-card'
    aria-labelledby={`education-${education.id}-heading`}
>
    <div class='card-body min-w-28 items-center pr-1'>
        <img
            src={education.logoUrl}
            alt='Logo de {education.institution}'
            class='h-14 w-14 object-contain'
        />
    </div>
    <div class='card-body'>
        <h3 class='card-title'>{education.institution}</h3>
        <h5 class='flex items-center gap-1'>
            <span>{education.degree}</span>
            <span><MinusIcon /></span>
            <span>{education.fieldOfStudy}</span>
        </h5>
        <p class='text-info/50!'>{education.getStartDateYear()} - {education.getEndDateYear()}</p>
        <p>{education.description}</p>
    </div>
</article>
