---
import type { Experience } from '@/entities/Experience'
import type PageSections from '@/interfaces/PageSections'

interface Props extends PageSections {
    experience: Experience
}

const { experience, lang } = Astro.props
console.log(experience)
---

<article
    class='card card-side hover:bg-accent-content/5 mb-6 items-start transition hover:shadow-md'
>
    <!-- Right, years -->
    <div class='card-body min-w-28 pr-1'>
        <p class='lg:tooltip mt-1 text-sm capitalize' data-tip={experience.getDuration(lang)}>
            <span>{experience.getStartDateYear()}</span>
            <span>-</span>
            <span>{experience.getEndDateYear()}</span>
        </p>
    </div>
    <div class='card-body'>
        {
            experience?.companyWebsiteUrl ? (
                <a
                    href={experience.companyWebsiteUrl}
                    target='_blank'
                    rel='noopener noreferrer'
                    class='card-title link link-hover'
                >
                    {experience.company}
                </a>
            ) : (
                <h3 class='card-title'>{experience.company}</h3>
            )
        }
        <h4>{experience.role}</h4>
        {
            experience.address && (
                <p class='text-secondary-content! text-sm leading-0'>{experience.address}</p>
            )
        }
        <p class='mt-2'>{experience.description}</p>

        <div class='flex flex-wrap gap-2'>
            {
                experience.technologies.map((technology) => (
                    <span class='badge badge-sm'>
                        <a href={technology.webUrl} target='_blank' rel='noopener noreferrer'>
                            {technology.name}
                        </a>
                    </span>
                ))
            }
        </div>
    </div>
    <!-- <a href='' class='absolute z-10 block h-full w-full'></a> -->
</article>
