---
import type { Experience } from '@/entities/Experience'
import type PageSections from '@/interfaces/PageSections'
import { __ } from '@config/i18n'

interface Props extends PageSections {
    experience: Experience
}

const { experience, lang = 'es' } = Astro.props as Props
const headingId = `experience-${experience.id}-heading`
const technologiesLabel = __('experience.technologies', { lng: lang })
const durationLabel = experience.getDuration(lang)
---

<article class='card card-side experience-card' aria-labelledby={headingId}>
    <div class='card-body min-w-28 pr-1'>
        <p
            class='lg:tooltip xl:tooltip-left mt-1 text-sm capitalize'
            data-tip={durationLabel}
            aria-label={durationLabel}
        >
            <span>{experience.getStartDateYear()}</span>
            <span>-</span>
            <span>{experience.getEndDateYear()}</span>
            <span class='sr-only'>{durationLabel}</span>
        </p>
    </div>
    <div class='card-body overflow-hidden'>
        <h3 class='card-title' id={headingId}>
            {
                experience?.companyWebsiteUrl ? (
                    <a
                        href={experience.companyWebsiteUrl}
                        target='_blank'
                        rel='noopener noreferrer'
                        class='link link-hover'
                        title={experience.company}
                    >
                        {experience.company}
                    </a>
                ) : (
                    experience.company
                )
            }
        </h3>
        <h4>{experience.role}</h4>
        {
            experience.address && (
                <p class='text-secondary-content! text-sm leading-0'>{experience.address}</p>
            )
        }
        <p class='mt-2' set:html={experience.description} />

        <ul class='flex gap-2 overflow-auto pb-2 lg:flex-wrap' aria-label={technologiesLabel}>
            {
                experience.technologies.map((technology) => (
                    <li class='badge badge-sm'>
                        <a
                            href={technology.webUrl}
                            target='_blank'
                            rel='noopener noreferrer'
                            title={technology.name}
                            class='text-nowrap'
                        >
                            {technology.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</article>
