---
import type PageSections from '@/interfaces/PageSections'
import ThemeController from '@components/form/ThemeController.astro'
import LanguageSelection from '@components/navigation/LanguageSelection.vue'
import MainNavbar from '@components/navigation/MainNavbar.vue'
import Socials from '@components/navigation/Socials.astro'
import { __ } from '@config/i18n'
import { getRelativeLocaleUrl } from 'astro:i18n'

interface Props extends PageSections {
    classList?: string
}

const { lang, classList = 'lg:col-span-2 relative lg:max-h-screen' } = Astro.props as Props

const homeUrl = getRelativeLocaleUrl(lang, '/')
const navigationLabel = __('navigation.primary', { lng: lang })
const navigationLinks = [
    {
        href: '#about',
        label: __('navigation.items.about', { lng: lang }),
    },
    {
        href: '#experience',
        label: __('navigation.items.experience', { lng: lang }),
    },
    {
        href: '#favorite-tools',
        label: __('navigation.items.favorite-tools', { lng: lang }),
    },
    {
        href: '#education',
        label: __('navigation.items.education', { lng: lang }),
    },
]
const navigationHomeLabel = __('navigation.home', { lng: lang })
---

<section class={classList}>
    <div
        class='flex h-full items-center justify-between py-6 lg:fixed lg:flex-col lg:items-start lg:py-16'
    >
        <article>
            <h1 class='h1' id='resume-heading'>Carmine Maggio</h1>
            <h4 class='h4'>{__('systems-engineer', { lng: lang })}.</h4>
            <h2 class='h4'>{__('full-stack-developer', { lng: lang })}.</h2>
            <MainNavbar
                lang={lang}
                client:idle
                homeUrl={homeUrl}
                label={navigationLabel}
                links={navigationLinks}
                homeLabel={navigationHomeLabel}
            />
        </article>
        <aside aria-label={__('socials.label', { lng: lang })}>
            <Socials lang={lang} />
            <div class='flex items-center gap-4 xl:px-3'>
                <ThemeController />
                <LanguageSelection lang={lang} client:idle />
            </div>
        </aside>
    </div>
</section>
